<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidtraining"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <permission
        android:name="com.bignerdranch.android.photogallery.PRIVATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.bignerdranch.android.photogallery.PRIVATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.androidtraining.QuizActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.androidtraining.MainMenuActivity"
            android:label="@string/title_activity_main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidtraining.BookAppsActivity"
            android:label="@string/title_activity_book_apps" >
        </activity>
        <activity
            android:name="com.example.androidtraining.ExerciseAppsActivity"
            android:label="@string/title_activity_exercise_apps" >
        </activity>
        <activity
            android:name="com.example.androidtraining.CheatActivity"
            android:label="@string/title_activity_ch5___cheat" >
        </activity>
        <activity
            android:name="com.example.androidtraining.CrimePagerActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CrimeListActivity" />
        </activity>
        <activity
            android:name="com.example.androidtraining.CrimeListActivity"
            android:label="@string/title_activity_crime" >
        </activity>
        <activity
            android:name="com.example.androidtraining.HelloMoonActivity"
            android:label="@string/title_activity_hello_moon" >
        </activity>
        <activity
            android:name="com.example.androidtraining.CrimeCameraActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.androidtraining.NerdLauncherActivity"
            android:label="@string/title_activity_nerd_launcher" >
            <intent-filter>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.androidtraining.RemoteControlActivity"
            android:label="@string/title_activity_remote_control_actvity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.androidtraining.PhotoGalleryActivity"
            android:label="@string/title_activity_photo_gallery"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.androidtraining.SingleFragmentActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.androidtraining.SingleFragmentActivity" />
        </activity>
        <activity
            android:name="com.example.androidtraining.PhotoPageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <service android:name="com.example.androidtraining.PollService" />

        <receiver android:name="com.example.androidtraining.StartupReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.androidtraining.NotificationReceiver"
            android:exported="false" >
            <intent-filter android:priority="-999" >
                <action android:name="com.bignerdranch.android.photogallery.SHOW_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.androidtraining.TrackingLocationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.bignerdranch.android.runtracker.ACTION_LOCATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.androidtraining.DragAndDrawActivity"
            android:label="@string/title_activity_drag_and_draw" >
        </activity>
        <activity
            android:name="com.example.androidtraining.RunActivity"
            android:label="@string/title_activity_run" >
        </activity>
        <activity
            android:name="com.example.androidtraining.RunListActivity"
            android:label="@string/title_activity_run_list" >
        </activity>
    </application>

</manifest>